/* Main Background */

.main-background {
    -fx-background-color: #F0F0F0; /* light grey */
}
                                         
/* Coordinates */
.coordinates {
    -fx-padding: 10px;
    -fx-background-color: #C0C0C0; /* silver */
    -fx-font-size: 12px;
    -fx-text-fill: #505050;
    -fx-alignment: center;
}

.tab-pane{
    -fx-tab-max-width: 150px; /* Maximum width of the tabs */
    -fx-tab-min-width: 80px;  /* Minimum width of the tabs */
    -fx-tab-max-height: 40px; /* Maximum height of the tabs */
    -fx-tab-min-height: 25px  /* Minimum height of the tabs */
}    
.border-pane{
    -fx-border-color: #336699;
    /*-fx-border-padding: 35;*/
    -fx-border-style: solid;
    -fx-tab-min-height: 25px
}

}

/* Sidebar */
.sidebar{
    -fx-background-color: #C0C2C9; /* darker grey */
    -fx-padding: 10px;
}


/* Content Area */
.content-area {
    -fx-background-color: #FFFFFF; /* black */
    -fx-padding: 20px;
}


/* Welcome Title */
.welcome-title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-fill: #303030; /* dark grey */
}

/* Welcome Subtitle */
.welcome-subtitle {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-fill: #505050; /* medium grey */
}

/* Welcome Text */
.welcome-text {
    -fx-font-size: 14px;
    -fx-fill: #606060; /* lighter grey */
    -fx-text-alignment: center;
    -fx-padding: 10px;
}

/* Continue Button */
.continue-button {
    -fx-background-color: #8B0000; /* dark red */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 20px; /* slighly ovular edges of button */
}

.continue-button:hover {
    -fx-background-color: #B22222; /* light red */
}

